streamlit==1.38.0
groq==0.11.0
pandas==2.2.2
numpy==1.26.4
plotly==5.23.0
matplotlib==3.8.4
reportlab==4.2.2
pillow==10.4.0
gtts==2.5.4
streamlit-mic-recorder==0.0.8
speechrecognition==3.10.4
pytz==2024.1
